# Framework web moderno y rápido para APIs REST
fastapi==0.104.1

# Servidor ASGI para FastAPI (incluye auto-reload en desarrollo)
uvicorn[standard]==0.24.0

# ORM (Object-Relational Mapping) para Python - gestión de base de datos
sqlalchemy==2.0.23

# Validación de datos y serialización (con soporte para validación de emails)
pydantic[email]==2.5.0

# Librería para hashing de contraseñas
argon2_cffi

# Libreria JWT
python-jose[cryptography]

# Libreria para gestionar las migraciones de bases de datos
alembic

# Libreria para procesar solicitudes multipart/form-data
python-multipart

# Testing dependencies
pytest==7.4.3
pytest-asyncio==0.21.1
httpx==0.25.2